.product-list-container {
  margin-top: 20px;
  width: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

table th {
  background-color: #008CBA;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table td button {
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

table td button:hover {
  background-color: #2E8B57;
}

table td button:last-child {
  background-color: #f44336;
}

table td button:last-child:hover {
  background-color: #d32f2f;
}

@media screen and (max-width: 600px) {
  table {
    display: block;
    border: none;
  }

  table th,
  table td {
    display: block;
    border: none;
    padding: 0;
  }

  table th {
    margin-top: 10px;
  }

  table td {
    margin-top: 10px;
  }
}