/* Animation for table rows */
@keyframes rowAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styles for the product list container */
.product-list-container {
  margin-top: 20px;
}

/* Styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Styles for the table header */
thead th {
  padding: 10px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  text-align: left;
}

/* Styles for the table body */
tbody td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Styles for the delete button */
button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
  /* transition: background-color 0.3s; */
}

button:hover {
  background-color: #c82333;
}

/* Animation styles */
tbody tr {
  animation: rowAnimation 0.5s ;
  opacity: 10;
}
