.card-body {
  max-width: 1320px;
  width: 100%;
  padding-top: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

.card-left-body {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 200px;
  border-right: 2px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.card-right-parent {
  width: calc(100% - 220px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-right-body {
  padding: 0 10px;
  width: 100%;
 
}

.card-left-body h2 {
  text-align: center;
  font-size: medium;
  position: relative;
  margin-top: 0;
}

.btn-mca {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradbar 15s ease infinite;
}

.btn-mca:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(224, 24, 24, 0.2);
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 767px) {
  .card-body {
    flex-direction: column;
    align-items: center;
  }

  .card-left-body {
    width: 100%;
    max-width: none;
    border-right: none;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 10px;
    justify-content: center;
  }

  .card-right-parent {
    width: 100%;
  
    align-items: center;
  }

  .card-right-body {
    text-align: center;
    
  }
}
