.blog-upload {
  max-width: 1550px;
  margin:  auto;
  padding: 20px;
  background-color: aliceblue;
}

.blog-input {
  width: 50%;
  margin-bottom: 10px;
  padding: 5px;
}

.file-input {
  margin-bottom: 20px;
}

.submit-btn,
.cancel-btn {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;

}

.blog-list {
  margin-top: 10px;
 
}

.blog-items {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.blog-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  animation: slideIn 1.5s ease-in;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.srcimg1 {
  width: 60px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.blog-content {
  flex: 2;
}

.blog-actions {
  display: flex;
  margin-left: auto;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 10px;
  
}

.show-more-btn,
.show-less-btn {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .blog-item {
    flex-basis: 100%;
  }
}
