.grad-bar {
  justify-items: center;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: gradbar 15s ease infinite;
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  height: 70px;
  z-index: 20;
  box-shadow: 0 2px 4px 0 rgba(153, 44, 44, 1);
  grid-template-columns: 1fr 5fr;
  justify-content: space-around;
  width: auto;
  border-radius: 10px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #6f03eb;
  align-items: center;
  margin-left: 70px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.7rem;
  flex-grow: 1;
}
.nav-logo:hover {
  color: #16eb03;
  align-items: center;
  margin-left: 70px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.7rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #085dfc;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.nav-links:hover {
  color: #f8901a;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  margin-top: 17px;
  display: inline-block;
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item p {
 color: #16eb03;
 position: absolute;
 width: 20px;
 height: 20px;
 right: 2rem;
 top: 0.3rem;
 border-radius: 45%;
 box-sizing: border-box;
 font-size: 17px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


.nav-item img {
  height: 33px;
  width: 25px;
  justify-self: start;
  margin-left: 20px;
}
.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
color: #000205;
  
}

.nav-icon {
  display: none;
}
.cart-icon {
  display: flex;
  text-align: end;
  margin-right: 1rem;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  transition: margin-right 0.2s ease-in-out;
}

.cart-icon img {
  width: 25px;
  margin-right: 3.5rem;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .cart-icon .nav-item p {
    font-size: 14px;
 
 
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
   
    color: #ffdd40;
  }
  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
  
    .nav-logo {
      font-size: 1.2rem; /* Decrease the font size for mobile */
    }
}
